/* --- STYLE DE L'AUTOCOMPLÉTION --- */
.autocomplete-wrapper { 
    position: relative; 
}

.autocomplete-suggestions {
    position: absolute; 
    top: 100%; 
    left: 0; 
    width: 100%;
    background: white; 
    border-radius: 0 0 15px 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    z-index: 9999; 
    max-height: 280px; 
    overflow-y: auto;
    border: 1px solid #eee; 
    border-top: none;
    margin-top: -5px;
}

.autocomplete-suggestion { 
    padding: 12px 15px; 
    cursor: pointer; 
    font-size: 0.95rem; 
    border-bottom: 1px solid #f0f0f0; 
    color: #333;
    display: flex; 
    align-items: center;
    gap: 15px;
}

.autocomplete-suggestion:hover { 
    background-color: #f3efff; 
    color: #8c52ff; 
}

.autocomplete-suggestion:last-child { 
    border-bottom: none; 
}

.is-frequent { 
    background-color: #fffbf0; 
}

.is-frequent .sugg-icon { 
    color: #ffc107; /* Etoile Jaune */
}

.is-api .sugg-icon { 
    color: #6c757d; /* Pin Gris */
}

.sugg-icon {
    width: 24px; 
    height: 24px;
    display: flex; 
    align-items: center; 
    justify-content: center;
    font-size: 1.2rem; 
    flex-shrink: 0;
}

.sugg-text { 
    display: flex; 
    flex-direction: column; 
    line-height: 1.2; 
    overflow: hidden; 
}

.sugg-main { 
    font-weight: 600; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}

.sugg-sub { 
    font-size: 0.8rem; 
    color: #888; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}