/* --- THÈME VIOLET --- */
:root {
  --main-purple: #8c52ff;
  --hover-purple: #703ccf;
}
.text-purple {
  color: var(--main-purple);
}

/* === STRUCTURE DE LA PAGE (Footer Sticky) === */
html,
body {
  height: 100%;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  background-color: #f8f9fa;
}

/* BOUTONS NAVIGATION */
.btn-purple {
  background-color: var(--main-purple);
  color: white;
  border: none;
  border-radius: 50px;
  padding: 8px 10px;
  font-weight: 500;
  transition: background 0.3s, transform 0.1s;
  text-decoration: none;

  /* Largeur fixe */
  width: 180px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

.btn-purple:hover {
  background-color: var(--hover-purple);
  color: white;
  transform: translateY(-1px);
}

.user-avatar-btn {
  background-color: var(--main-purple);
  color: white;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background 0.3s;
}
.user-avatar-btn:hover {
  background-color: var(--hover-purple);
}
.no-arrow::after {
  display: none !important;
}
.big-arrow {
  color: var(--main-purple);
  cursor: pointer;
}
.big-arrow:hover {
  color: var(--hover-purple);
}

.navbar-brand img {
  max-height: 50px;
  width: auto;
}

.mobile-link {
  color: #333;
  text-decoration: none;
  padding: 10px 0;
  display: block;
  border-bottom: 1px solid #eee;
  font-weight: 500;
}
.mobile-link:hover {
  color: var(--main-purple);
  background-color: #f9f9f9;
  padding-left: 10px;
  transition: all 0.2s;
}
.dropdown-item i {
  width: 20px;
  display: inline-block;
  text-align: center;
  color: var(--main-purple);
}

.btn-outline-purple {
  background-color: transparent;
  color: var(--main-purple);
  border: 2px solid var(--main-purple);
  border-radius: 50px;
  padding: 6px 20px;
  font-weight: 500;
  transition: all 0.3s;
  text-align: center;
  text-decoration: none;
}
.btn-outline-purple:hover {
  background-color: var(--main-purple);
  color: white;
}

/* --- CSS POUR L'ALERTE FLOTTANTE (TOAST) --- */
.flash-message-container {
  position: fixed; /* Fixe par rapport à l'écran */
  top: 20px; /* Décalage du haut */
  left: 50%; /* Centré horizontalement */
  transform: translateX(-50%); /* Correction pour centrage parfait */
  z-index: 9999; /* Au-dessus de TOUT (header, images...) */
  width: 90%; /* Largeur responsive */
  max-width: 600px; /* Largeur max sur PC */
  animation: slideDown 0.5s ease-out; /* Petite animation d'arrivée */
}

/* Animation de descente */
@keyframes slideDown {
  from {
    top: -100px;
    opacity: 0;
  }
  to {
    top: 20px;
    opacity: 1;
  }
}
